{% extends "LzyBlogBundle:Frontend:layout.html.twig" %}

{% block posts %}
	<div class="blog-post">
	  <h2 class="blog-post-title">{ { post title } }</h2>
	  <p class="blog-post-meta">{ { post crated at } } by <a href="#">{ { blog author/owner } }</a></p>

	  { { post content }}
	</div><!-- /.blog-post -->

	<nav>
	  <ul class="pager">
	    <li><a href="#">Previous</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</nav>
{% endblock %}