{% extends "LzyBlogBundle::base.html.twig" %}

{% block css %}
	{% stylesheets
		'@LzyBlogBundle/Resources/public/css/bootstrap.min.css'
		'@LzyBlogBundle/Resources/public/css/blog.css' %}
	  <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block title %}Index template{% endblock %}

{% block bodyClass %}{{ parent() }} blog{% endblock %}

{% block navigation %}
	<a class="blog-nav-item" href="/">Home</a>
{% endblock %}

{% block content %}
	{% block header %}
		<div class="blog-header">
		   <h1 class="blog-title">{{ blog.title }}</h1>
		   <p class="lead blog-description">{{ blog.description }}</p>
		 </div>
	{% endblock %}

	{% block main %}
      <div class="row">

        <div class="col-sm-8 blog-main">
					{% block posts %}{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        	{% block sidebar %}
	          <div class="sidebar-module sidebar-module-inset">
	            <h4>About</h4>
	            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
	          </div>

	          <div class="sidebar-module">
	            <h4>Archives</h4>
	            <ol class="list-unstyled">
	              <li><a href="#">March 2014</a></li>
	            </ol>
	          </div>

	          <div class="sidebar-module">
	            <h4>Elsewhere</h4>
	            <ol class="list-unstyled">
	              <li><a href="#">GitHub</a></li>
	            </ol>
	          </div>
        	{% endblock %}
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
	{% endblock %}
{% endblock %}

{% block footer %}
	<p>Basic blog application created using Symfony 3.</p>
	<p>
	  <a href="#">Back to top</a>
	</p>
{% endblock %}
