{% extends 'base.html.twig' %}

{% block body %}
	<h1>General error page</h1>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam officia recusandae eos ea distinctio illo sed accusantium deserunt veritatis tenetur doloremque, voluptatem, esse quae inventore atque nostrum rerum sunt. Porro.</p>
{% endblock %}